.git
.gitignore
README.md
.env
.DS_Store
node_modules
npm-debug.log
.editorconfig
.github
.qodo
.kilo
storage/logs/*
storage/cache/*
bootstrap/cache/*
vendor/
.pytest_cache/
.phpunit.result.cache
build/
dist/
*.swp
*.swo
*~
.vscode
.idea
*.iml
public/storage
