[mysqld]
default-authentication-plugin=mysql_native_password
skip-character-set-client-handshake

# Character Set
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Max Connections
max_connections=1000

# Query Cache
query_cache_size=0
query_cache_type=0

# Slow Query Log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2

# Error Log
log_error=/var/log/mysql/error.log

# Binlog
log_bin=/var/log/mysql/mysql-bin.log
expire_logs_days=10
max_binlog_size=100M

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4
